<h1><%= @movies.length %> Movies</h1>

<ul>
<% @movies.each do |movie| %>
  <li>
    <strong><%= movie.title %></strong>
    (<%= movie.rating %>) made <%= number_to_currency(movie.total_gross) %>
  </li>
<% end %>
</ul>
